/*---- Main Layout Styles ----*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #FFF;
  background: white;
}

/*---- Container Styles ----*/
.main-header {
  max-width: 60%;
  margin:auto;
}

.content-div {
  max-width: 60%;
  margin: auto;
  margin-bottom: 10px;
  text-align: left;
  background-color: #8B8982;
  padding: 20px;
  align-content: center;
  border: 5px #124E78 dashed;
}

.card-div {
  width: 30%;
  display: inline-block;
  background-color: #8B8982;
  padding: 20px;
  border: 5px #124E78 dashed;
  margin-bottom:10px;
}
/* ---- Header Styles ----*/
.level1 {
  text-align: center;
  color: #124E78;
}

.level2 {

}

/*---- Nav Styles ----*/
.nav-link {
  display: inline-block;
  padding: 10px;
  margin: auto;
  text-decoration: none;
  font-size: 1.3em;
}

.nav-link a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px grey;
  padding: 10px;
  border-radius: 50%;
}

.nav-link a:hover {
  color: #6C91C2;
}

.main-nav {
  background-color: #124E78;
  align-content: center;
  list-style: none;
  border: 5px dashed #8B8982;
  margin-bottom: 10px;
}

.nav-list {
  padding-left: 0px;
}

/*---- Image Styles ----*/
.photo {
  width: 300px;
  display: inline-block;
  border-top:5px solid white;
  border-left:5px solid white;
  border-right:5px solid white;
  border-bottom:60px solid white;
  margin: 0px;
  box-shadow: 1px 1px 1px 2px #403F3C;
}

.gallery-list {
  list-style: none;
  padding: 0px;
  text-align: center;
}

.gallery-item {
  padding: 0px;
  display: inline-block;
  margin: 5px;
}

.gallery-item:hover {
  transform: rotate(-5deg);
}

.profile-photo {
  width: 200px;
  border-radius: 50%;
  float:right;
  border: 2px solid #FFF;
  margin-left: 5px;
}

.intro-photo {
  width: 200px;
  border-radius: 50%;
  float:left;
  margin: 20px;
  clear:both;
  border: 2px solid #FFF;
}

.profile-photo:hover {
  transform: scale(1.05);
  transform: rotate(2deg);
}

.intro-photo:hover {
  transform: scale(1.05);
  transform: rotate(2deg);
}

/*---- List Styles ----*/
.list {
  text-decoration: none;
  padding: 0px;
  list-style: none;
}
