* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}

/*---- Container Styles ----*/
.main-header {
  max-width: 60%;
  margin:auto;
}

.content-div {
  max-width: 60%;
  margin: auto;
  text-align: left;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  align-content: center;
}

.card-div {
  width: 30%;
  display: inline-block;
  background-color: white;
  margin-top:20px;
  border-radius: 20px;
}
/* ---- Header Styles ----*/
.level1 {
  text-align: center;
}

.level2 {

}

/*---- Nav Styles ----*/
.nav-link {
  display: inline-block;
  padding: 20px;
  margin: auto;
  text-decoration: none;
  font-size: 1.3em;
}

.nav-link a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px grey;
}

.nav-link a:hover {
  color: grey;
}

.main-nav {
  background-color: lightblue;
  align-content: center;
  list-style: none;
  border-radius: 20px;
}

.nav-list {
  padding-left: 0px;
}

.active {
  font-size: 1.5em
}

/*---- Image Styles ----*/
.photo {
  width: 250px;
  display: inline-block;
  border: 2px dashed lightblue;
  margin: auto;
}

.gallery-list {
  list-style: none;
  padding: 0px;
  text-align: center;
}

.gallery-item {
  display: inline-block;
  margin: auto 5px;
}

.profile-photo {
  width: 200px;
  border-radius: 50%;
  float:right;
  border: 2px dashed lightblue;
}

.intro-photo {
  width: 200px;
  border-radius: 50%;
  float:left;
  margin: 20px;
  clear:both;
  border: 2px dashed lightblue;
}

.profile-photo:hover {
  transform: scale(1.05);
  transform: rotate(2deg);
}

.intro-photo:hover {
  transform: scale(1.05);
  transform: rotate(2deg);
}

/*---- List Styles ----*/
.list {
  text-decoration: none;
  padding: 0px;
  list-style: none;
}
